@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// full project colors
:root {
  // --primaryColor: hsl(211, 97%, 25%);
  --primaryColor: hsl(44, 98%, 48%);
  --primaryColorLight: hsl(210, 53%, 87%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  // Font
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portifolio {
  .secContainer {
    gap: 2rem;
    .leftContent {
      h3 {
        font-size: var(--h1FontSize);
        padding-bottom: 0.5rem;
      }

      .grid {
        display: grid;
        .singlePortifolio {
          gap: 1rem;
          align-items: flex-start;

          .iconDiv {
            img {
              height: 50px;
              width: 50px;
            }
          }

          .infor {
            h4 {
              padding-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .rightContent {
      img {
        border-radius: 10px;
      }
    }
  }
}
