@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// full project colors
:root {
  // --primaryColor: hsl(211, 97%, 25%);
  --primaryColor: hsl(44, 98%, 48%);
  --primaryColorLight: hsl(210, 53%, 87%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  // Font
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.Home {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;

  .videoBg {
    position: absolute;
    height: 100%;
    width: 100%;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .sectionText {
    position: absolute;
    height: 100%;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: var(--whiteColor);
    padding: 0 1.5rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 900;
      
    }

    p {
      padding: 1rem 0;
      font-size: var(--normalFontSize);
      font-weight: 500;
    }

    .btn {
      gap: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: var(--h3FontSize);
      font-weight: 500;
    }
  }

  popularPlaces {
    display: none;
  }


  @media screen and (min-width: 768px) {
    .sectionText {
      text-align: left;
      top: 30%;
      
      h1 {
        font-size: var(--biggestFontSize);
        font-weight: 900;
      }

      p {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        font-weight: 500;
      }
    }

  }
}

