@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// full project colors
:root {
  // --primaryColor: hsl(211, 97%, 25%);
  --primaryColor: hsl(44, 98%, 48%);
  --primaryColorLight: hsl(210, 53%, 87%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  // Font
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.61);
  // border-bottom: 1.5px solid rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  z-index: 100;

  .logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var(--blackColor);
      font-size: var(--h3FontSize);
      justify-content: center;
    }
  }

  @media screen and (max-width: 767px) {
    .menu {
      position: absolute;
      width: 70%;
      top: -30rem;
      right: 50%;
      left: 50%;
      transform: translate(-50%);
      background: rgb(255, 255, 255, 0.94);
      padding: 2rem;
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      backdrop-filter: blur(5px);
      box-shadow: 0 2px 3px 4px rgb(236, 213, 213, 0.516);

      li {
        font-size: var(--h3FontSize);
        font-weight: 500;
        padding: 1rem 0;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: var(--primaryColor);
          border-bottom: 1.5px solid var(--primaryColor);
        }
      }
    }
  }

  .menuIcon,
  .closeIcon {
    font-size: var(--h1FontSize);
    &:hover {
      color: var(--primaryColor);
    }
  }

  .closeIcon {
    position: absolute;
    bottom: -15px;
    right: 50%;
    left: 50%;
    color: var(--blackColor);
    transform: translate(-50%);
  }
  .showNavBar {
    top: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .navBar {
    .logoDiv {
      span {
        font-size: var(--h2FontSize);
      }
    }

    .menuIcon,
    .closeIcon {
      display: none;
    }

    .menu {
      ul {
        display: flex;
        gap: 4rem;

        li {
          font-size: var(--h3FontSize);
          font-weight: 500;
          padding: 1rem 0;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: var(--primaryColor);
          }
        }
      }
    }
  }
}
