@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// full project colors
:root {
  //   --primaryColor: hsl(211, 97%, 25%);
  --primaryColor: hsl(44, 98%, 48%);
  --primaryColorLight: hsl(210, 53%, 87%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  // Font
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

@media screen and (min-width: 768px) {
  .footer {
    background: var(--primaryColorLight);
    padding: 2rem 0;

    .secContainer {
      display: grid;
      gap: 1.5rem;
      text-align: center;
      align-items: flex-start;

      .logoDiv {
        .footerLogo {
          display: flex;
          color: var(--blackColor);
          font-weight: 500;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          padding-bottom: 0.5rem;
        }

        .icon {
          font-size: 30px;
          color: var(--blackColor);
        }
        span {
          font-size: 30px;
        }
      }

      .socials {
        margin: auto;
        justify-content: center;
        gap: 2rem;

        .icon {
          background: var(--primaryColor);
          border-radius: 50%;
          color: var(--whiteColor);
          padding: 2px;
          font-size: 30px;

          &:hover {
            background: var(--primaryColorLight);
          }
        }
      }
    }
    .LinksSection {
      display: flex;
      justify-content: center;
      gap: 5rem;
      .footerLinks {
        display: grid;
        row-gap: 0.2rem;

        .linkTitle {
          padding-bottom: 0.5rem;
          color: var(--blackColor);
          font-weight: 700;
        }

        li {
          &:hover {
            transform: translate(10px);
            a {
              color: var(--primaryColor);
            }
          }
        }

        a,
        .phone,
        .email {
          color: var(--blackColor);
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
    .right{
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background: var(--primaryColorLight);
    padding: 2rem 0;

    .secContainer {
      display: grid;
      gap: 1.5rem;
      text-align: center;
      align-items: flex-start;

      .logoDiv {
        .footerLogo {
          display: flex;
          color: var(--blackColor);
          font-weight: 500;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          padding-bottom: 0.5rem;
        }

        .icon {
          font-size: 25px;
          color: var(--blackColor);
        }
      }

      .socials {
        gap: 0.5rem;
        margin: auto;
        justify-content: center;

        .icon {
          background: var(--primaryColor);
          border-radius: 50%;
          color: var(--whiteColor);
          padding: 2px;
          font-size: 25px;

          &:hover {
            background: var(--primaryColorLight);
          }
        }
      }
      .footerLinks {
        display: none;
      }

      .policy {
        cursor: pointer;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}
